<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Cosmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./bootstrap.css" media="screen">
    <link rel="stylesheet" href="./style.css" media="screen">

    <script>

    </script>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="" class="navbar-brand">Bootswatch</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="">Help</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://google.com" target="_blank">WrapBootstrap</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div id="app" class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Cosmo</h1>
            <p class="lead">An ode to Metro</p>
            <div>
              <input type="checkbox" id="groupe1" value="1" v-model="listGroups"><label for="groupe1">Groupe-1</label>
              <input type="checkbox" id="groupe2" value="2" v-model="listGroups"><label for="groupe2">Groupe-2</label>
              <input type="checkbox" id="groupe3" value="3" v-model="listGroups"><label for="groupe3">Groupe-3</label>
              <input type="checkbox" id="groupe4" value="4" v-model="listGroups"><label for="groupe4">Groupe-4</label>
              <input type="checkbox" id="groupe5" value="5" v-model="listGroups"><label for="groupe5">Groupe-5</label>
              <input type="checkbox" id="groupe6" value="6" v-model="listGroups"><label for="groupe6">Groupe-6</label>
              <br>
              <span>Checked names: {{ listGroups }}</span></div>
          </div>

        </div>
        <div class="row">
          <div class="text-center">
            <!-- "text-center" or svg class="center-block" -->
            <svg width="960" height="600"></svg>
            <!-- <svg width="560" height="300"></svg> -->
          </div>
        </div>
      </div>


      <!-- Footer
      ================================================== -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
          </div>
        </div>
      </footer>


    </div>


    <script src="./jquery-1.10.2.min.js"></script>
    <script src="./bootstrap.min.js"></script>
    <script src="./d3.v4.min.js"></script>
    <script type="text/javascript" src="./vue.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>
